*{
  margin: 0;
  padding: 0;
}
html ,
body{
  text-align: center;
}

.colored-section {
    background-color: #ff4c68;
    color:white;
  }

  .container-fluid{
    padding: 3% 15%;
  }
  
  .navbar{
    padding: 0 0 4rem;
  }

  .navbar-brand {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
  }

  .nav-item {
    padding: 0 18px;
    color: white;
  }

  .white-section {
    background-color: #fff;
  }
  

  .nav-link{
    color: white;
    font-size: 2rem;
  }
  .title-image {
    width: 65%;
    position: absolute;
    right: 20%;
    border-radius: 5%;
    transition: all .3s ease;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  }

  .title-image:hover{
    transform: scale(1.1);

  }

  .big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
  }

  #title .container-fluid {
    padding: 3% 15% 7%;
    
  }
  
  .download-button {
    margin: 5% 3% 5% 0;
  }

  .skill{
    padding: 4%;
  }

  .skill-column{
    padding: 3% 2%;
    color: #fff;

  }

  .skill-header{
    background-color: #ff4c68;
    color:#fff;
  }

  .main-card{
    transition: all .3s ease;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  }

  .main-card:hover{
    transform: scale(1.1);

  }

  .card-title{
    color:grey;
  }
  
  
  @media (max-width: 1028px) {

    #title {
      text-align: center;
    }

    .title-image {
      position: static;
      transform: rotate(0);
    }
  }